<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00B7FF;
      }

      pre {
        padding-top: 20px;
      }
    </style>
  </head>

  <body>

    <main role="main" class="container">
      <% if (title) { %>
      <h1><%= title %></h1>
      <% } %>

      <p>
      <% if (repository) { %>
      <strong>Project repository:</strong> <a href="<%= repository %>" target="_blank"><%= repository %></a>
      <% } %>        
      </p>

      <ul>
        <% groups.forEach(function(group){ %>
        <li>
          <a href="#<%= group.name %>"><%= group.name %></a>
        </li>
        <% }) %>
      </ul>

      <% groups.forEach(function(group){ %>
      <table class="table table-bordered">
        <% if (group.name) { %>
        <tr>
          <th id="<%= group.name %>">
            <%= group.name %>
          </th>
        </tr>
        <% } %>
        <tr>
          <td>
            <% group.endpoints.forEach(function(endpoint){ %>
            <table class="table table-bordered table-striped">
              <tr>
                <td style="width: 80px;" class="<% if (endpoint.method == 'GET') { %>table-primary<% } %><% if (endpoint.method == 'POST') { %>table-warning<% } %><% if (endpoint.method == 'DELETE') { %>table-danger<% } %>">
                  <%- endpoint.method %>
                </td>
                <td>
                  <%= endpoint.name %>
                </td>
              </tr>
              <% if (endpoint.url) { %>
              <tr>
                <td colspan="2">
                  <%= app_url %><%= endpoint.url %>
                </td>
              </tr>
              <% } %>
              <% if (endpoint.description) { %>
              <tr>
                <td colspan="2">
                <%= endpoint.description %>
                </td>
              </tr>
              <% } %>
              <% if (endpoint.headers && endpoint.headers.length) { %>
                <tr>
                  <th colspan="2">
                    Headers
                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <table class="table table-bordered">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Description
                        </th>
                      </tr>
                      <% endpoint.headers.forEach(function(header){ %>
                      <tr>
                        <td>
                          <%= header.name %>
                          <% if (header.required) { %>
                          <font color="red">* (required)</font>
                          <% } %>    
                        </td>
                        <td>
                          <%= header.type %>
                        </td>
                        <td>
                          <%= header.description %>
                        </td>
                      </tr>
                      <% }); %>
                    </table>
                  </td>
                </tr>
              <% } %>
              <% if (endpoint.params && endpoint.params.length) { %>
                <tr>
                  <th colspan="2">
                    Body
                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <table class="table table-bordered">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Description
                        </th>
                      </tr>
                      <% endpoint.params.forEach(function(param){ %>
                      <tr>
                        <td>
                          <%= param.name %>
                          <% if (param.required) { %>
                          <font color="red">*</font>
                          <% } %>    
                        </td>
                        <td>
                          <%= param.type %>
                        </td>
                        <td>
                          <%= param.description %>
                        </td>
                      </tr>
                      <% }); %>
                    </table>
                  </td>
                </tr>
              <% } %>
              <% if (endpoint.queries && endpoint.queries.length) { %>
                <tr>
                  <th colspan="2">
                    Handshake Query
                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <table class="table table-bordered">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Description
                        </th>
                      </tr>
                      <% endpoint.queries.forEach(function(query){ %>
                      <tr>
                        <td>
                          <%= query.name %>
                          <% if (query.required) { %>
                          <font color="red">*</font>
                          <% } %>    
                        </td>
                        <td>
                          <%= query.type %>
                        </td>
                        <td>
                          <%= query.description %>
                        </td>
                      </tr>
                      <% }); %>
                    </table>
                  </td>
                </tr>
              <% } %>
              <% if (endpoint.responses && endpoint.responses.length ) { %>
                <% endpoint.responses.forEach(function(response){ %>
                <tr>
                  <td colspan="2">
                    <strong><%= response.name %></strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <pre><%= JSON.stringify(response.value, null, 2) %></pre>              
                  </td>
                </tr>
                <% }) %>
              <% } %>
            </table>
            <% }); %>
          </td>
        </tr>
      </table>
      <% }); %>
      

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
