<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">

      
      <h1><%= title %></h1>
      <% endpoints.forEach(function(endpoint){ %>
      <table class="table table-bordered">
        <tr>
          <th>
            <%- endpoint.name.toUpperCase() %>
          </th>
        </tr>
        <tr>
          <td>
            <% endpoint.endpoints.forEach(function(endpoint){ %>
            <table class="table table-bordered">
              <tr>
                <th colspan="2">
                  <%- endpoint.name.toUpperCase() %>
                </th>
              </tr>
              <tr>
                <td style="width: 60px;">
                  <%- endpoint.method.toUpperCase() %>
                </td>
                <td>
                  <%- endpoint.url %>
                </td>
              </tr>
              <% if (endpoint.params && endpoint.params.length) { %>
              <tr>
                <td colspan="2">
                  <table class="table table-bordered">
                    <tr>
                      <th>
                        Name
                      </th>
                      <th>
                        Type
                      </th>
                      <th>
                        Description
                      </th>
                    </tr>
                    <% endpoint.params.forEach(function(param){ %>
                    <tr>
                      <td>
                        <%- param.name %>
                        <% if (endpoint.params && endpoint.params.length) { %>
                        <font color="red">*</font>
                        <% } %>    
                      </td>
                      <td>
                        <%- param.type %>
                      </td>
                      <td>
                        <%- param.description %>
                      </td>
                    </tr>
                    <% }); %>
                  </table>
                </td>
              </tr>
              <% } %>
            </table>
            <% }); %>
          </td>
        </tr>
      </table>
      <% }); %>
      

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
